.projectList {
  display: grid;
  grid-template-columns: auto 1fr;
}


@media only screen and (max-width: 600px) {
  .projectList {
    display: grid;
    grid-template-columns: auto;
  }

  .projectItemContainer {
    margin-left: 0;
  }
  .projectTabsContainer {
    display: flex;
    overflow: scroll;
  }
}
