.tag {
    height: fit-content;
    width: fit-content;
    min-width: 3rem;
    text-align: center;
    padding: 2px 10px;
    background-color: #1b295b;
    border: 2px solid #1b295b;
    border-radius: 9999px;
    margin: 5px 15px 5px 0px;
    color: var(--highlight-blue);
}