.contactParagraph {
    width: 100%;    
}

.mailLink {
  display: block;
  width: max-content;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid var(--highlight-blue);
  color: var(--highlight-blue);
  border-radius: 1rem;
  transition: 0.2s;
  margin-top: 1rem;
}

.mailLink:hover {
  color: var(--heading-text-offwhite);
  background-color: var(--highlight-blue);
}
